[user]
	name = TaumuLu
	email = taumux@gmail.com
[core]
	quotepath = false
	ignorecase = false
	longpaths = true
	editor = vim
	excludesfile = /Users/taumulu/.gitignore
	compression = 0
[credential]
	helper = store
[color]
	ui = true
[alias]
	cu = "!f() { git config user.name $1 && git config user.email $2; }; f"
	reignore = !git rm -r --cached . && git add .
	ignored = !git ls-files -v | grep "^[SMh]"
[http]
	postBuffer = 524288000
	emptyAuth = true
  # proxy = socks5://127.0.0.1:1087
	sslVerify = false
	sslBackend = openssl
	lowSpeedLimit = 0
	lowSpeedTime = 999999
# [https]
#   proxy = socks5://127.0.0.1:1087
[pull]
	rebase = false
[init]
	defaultBranch = master
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/taumulu/.stCommitMsg
