[user]
	name = TaumuLu
	email = 972409545@qq.com
[core]
	quotepath = false
	ignorecase = false
	longpaths = true
	editor = vim
	excludesfile = ~/.gitignore
[credential]
	helper = store
[color]
	ui = true
[alias]
	cu = "!f() { git config user.name $1 && git config user.email $2; }; f"
	reignore = 'git rm -r --cached . && git add .'
	ignored = !git ls-files -v | grep "^[SMh]"
[http]
	postBuffer = 524288000
